body {
    margin: 0;
    background: radial-gradient(circle, #000 40%, #020a1a);
    color: #00f7ff;
    font-family: Arial;
    text-align: center;
    overflow: hidden;
}

.hud {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 60px;
    letter-spacing: 10px;
    text-shadow: 0 0 20px #00f7ff;
}

#status {
    margin: 20px;
    font-size: 18px;
}

/* Núcleo */
.circle {
    width: 200px;
    height: 200px;
    border: 3px solid #00f7ff;
    border-radius: 50%;
    margin: 30px auto;
    box-shadow: 0 0 40px #00f7ff;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}

button {
    padding: 10px 20px;
    border: none;
    background: #00f7ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
